* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jaro", sans-serif;
}

.container {
  background-image: url(../img/hero-gray.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 16, 59);
  min-height: 100vh;
  border-radius: 20px;
}

.glass {
  height: 90%;
  width: 90%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.title-app {
  text-shadow: 2px 2px 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 16px;
}

.title-app h1 {
  font-size: 4rem;
  font-family: "Lobster", cursive;
}

.title-app p {
  font-size: 2rem;
}

.add-book button {
  background-color: rgb(255, 16, 59);
  color: white;
  padding: 16px 32px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin: 16px;
  font-size: 1.2rem;
}

.add-book button:hover {
  background-color: darkred;
  color: white;
}

.search_section {
  margin: 16px;
  text-shadow: 2px 2px 4px black;
  display: flex;
  flex-direction: column;
}

#searchBook {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_section h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.search_section label {
  font-size: 1.5rem;
}

.search_section input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0 10px;
  height: 50px;
}

.search_section button {
  background-color: rgb(255, 16, 59);
  color: white;
  padding: 8px 16px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.search_section button:hover {
  background-color: darkred;
  color: white;
}

.list-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 80%;
  gap: 30px;
}

.book_shelf {
  margin: 16px 16px;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  background-color: white;
  align-content: start;
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: darkgreen;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: darkred;
  color: white;
}
footer {
  text-align: center;
  padding: 16px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

@media (max-width: 768px) {
  .list-container {
    grid-template-columns: auto;
  }
}
